.row{
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
}
.row__list{
    display: flex;
   overflow: hidden;
  
}
.card{
    width: 18rem;
    border: none;
    margin: 5px 10px 10px 0px;
}

.next, .prev{
    height: 333px;
   
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    color: #ffff;
    cursor: pointer;

}
.next{
    right: 0;
}