<section class="row">
    <section class="row__list">
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>   
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>   
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>      
    </section>
    <div class="next"><i class="fas fa-angle-right"></i></div>
    <div class="prev"><i class="fas fa-angle-left"></i></div>
</section>


<section class="row">
    <section class="row__list">
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>   
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>   
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>
        <div class="card">
            <img src="./../../assets/breakb.jpg" class="card-img-top" alt="...">
            <!--<div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>-->
        </div>      
    </section>
    <div class="next"><i class="fas fa-angle-right"></i></div>
    <div class="prev"><i class="fas fa-angle-left"></i></div>
</section>