.navbar{
    background-color: #1a232e;
    position: relative;
}
.--route{
    color: #d7d9dd;
    text-decoration: none;
}

.navbar__search{
    position: relative;
}
.search__input{
    width: 250px;
    border:none;
    outline: none;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #c9d9dd;
    color: #ffff;
    border-radius: 3px;
    background-color: #18202b;
    position: relative;
    font-size: 14px;
}
.search__icon{
    color:#e6e6e6;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 0px 0px 0px 10px;
}
